  .element{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 5px;
    height: 25px;
  }
  .element:hover .element_button{
    opacity: 1;
  }
  .element_button{
    opacity: 0;
  }
  .is_done{
    opacity: 0.5;
  }
  input[type=checkbox] {
    position: relative;
    cursor: pointer;
  }
  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
  }
  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 8px;
  }
  .button_delete{
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    border: none;
    margin-left: 10px;
  }
  .button_save{
    background-color: green;
    border: none;
    color: white;
    height: 25px;
    padding: 5px 10px;
  }