
body{
  background: rgb(174,227,238);
  background: radial-gradient(circle, rgba(174,227,238,1) 0%, rgba(148,187,233,1) 100%);
}
.main{
  max-width: 400px;
  width: auto;
  margin: 100px auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.TodoList{
  background: rgb(255,255,255);
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
}
.lists{
  padding: 10px;
}